<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Flagging-Good-Articles" data-toc-modified-id="Flagging-Good-Articles-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Flagging Good Articles</a></span></li><li><span><a href="#Flagging-Hold-out-Set" data-toc-modified-id="Flagging-Hold-out-Set-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Flagging Hold-out Set</a></span></li></ul></div>

In this notebook, we will flag some entries in the database as `is_holdout` so we can use them as holdout set.

But before we do that, we must select the good data from our database. Our database comprises of some articles that have little to no textual contents (bad data). We want to filter those out.

On average, news articles have a length between 400-700 words. However, to be on the marginal, we want to capture anything that has at least one paragraph (~100 words)

First, create a new `is_good_article` column on `AllTheNews21`

**Only run this once in pgAdmin**

```sql
-- Create a new "is_good_article" column: Default value is False
ALTER TABLE public."AllTheNews21"
ADD COLUMN is_good_article BOOLEAN DEFAULT FALSE;
```

Also, create a new `is_holdout` column on `AllTheNews21`. 

**Only run this once in pgAdmin**

```sql
-- Create a new "is_holdout" column: Default value is False
ALTER TABLE public."AllTheNews21"
ADD COLUMN is_holdout BOOLEAN DEFAULT FALSE;
```

In [1]:
from sqlalchemy import create_engine   # conda install -c anaconda sqlalchemy
from dotenv import load_dotenv         # conda install -c conda-forge python-dotenv
import os                              # Python default package
import pandas as pd

In [2]:
pd.options.display.max_rows = 1000
pd.set_option('max_colwidth', 400)

In [3]:
load_dotenv() # => True if no error

True

In [4]:
# Load secrets from the .env file
db_name = os.getenv("db_name")
db_username = os.getenv("db_username")
db_password = os.getenv("db_password")
db_table_schema = os.getenv("db_table_schema")
connection_string = f"postgres://{db_username}:{db_password}@localhost:5432/{db_name}"
engine = create_engine(connection_string)

## Flagging Good Articles

We will consider an article as good if it has a least 90 words

In [5]:
# Select all articles with at least 90 words

q = f"""
SELECT index, category
FROM public."AllTheNews21"
WHERE word_count >= 90
"""
good_articles = pd.read_sql(q, con=engine)

How are they currently distributed along the categories?

In [6]:
display(good_articles.shape)
display(good_articles.groupby("category").count().reset_index().sort_values("index", ascending=False))

(2272637, 2)

                     category   index
2                    business  158576
20                      world  155633
0      arts and entertainment  141912
13                   politics   99264
11    markets and investments   93617
15     science and technology   84990
16                     sports   75934
10                       life   75327
5       finance and economics   72333
18                         us   61468
8         health and wellness   37110
9            legal and crimes   27990
3     climate and environment   13634
6                        food   11601
17  travel and transportation    9590
4                      energy    8455
14                real estate    8122
7           global healthcare    7854
12           personal finance    5258
19                     wealth    4960
1                 automobiles    3628

**Now, flag those articles**

In [7]:
# # Finally, update the database for those articles
# for index in good_articles["index"]:
    
#     q = f"""
#     UPDATE public."AllTheNews21"
#     SET is_good_article = true
#     WHERE index = '{index}'
#     """
    
#     engine.execute(q)

## Flagging Hold-out Set

**NOTE: We are only working on articles 2018 and after that are good articles (word_count >= 90).** 

Let's see what the distribution is like first

In [10]:
q = """
SELECT category, COUNT(*)
FROM public."AllTheNews21"
WHERE is_good_article = true
and category is not null
and year >= 2018
GROUP BY category
order by count desc
"""
pd.read_sql(q, con=engine)

                     category   count
0                    business  105278
1                       world   96965
2      arts and entertainment   69548
3                    politics   57615
4     markets and investments   45430
5      science and technology   44626
6                      sports   40831
7       finance and economics   40596
8                          us   36374
9                        life   35275
10        health and wellness   20026
11           legal and crimes   13827
12    climate and environment    8593
13          global healthcare    6775
14                       food    6285
15                     energy    5525
16  travel and transportation    4632
17                real estate    4262
18           personal finance    3296
19                automobiles    2354
20                     wealth    1940

We will randomly select 150 articles per categories as holdout. We have 21 categories in total so that will give us 3,150 entries for our holdout set.

In [11]:
# List of distinct categories in the DB
categories = [
    "arts and entertainment",
    "automobiles",
    "business",
    "climate and environment",
    "energy",
    "finance and economics",
    "food",
    "global healthcare",
    "health and wellness",
    "legal and crimes",
    "life",
    "markets and investments",
    "personal finance",
    "politics",
    "real estate",
    "science and technology",
    "sports",
    "travel and transportation",
    "us",
    "wealth",
    "world"
]

In [12]:
# Select random articles per category to use as holdout set
# Make sure to apply all the necessary filters

houldout_articles = pd.DataFrame()

for cat in categories:

    q = f"""
    SELECT 
        index,
        category
    FROM public."AllTheNews21"
    WHERE category = '{cat}'
    AND is_good_article = true
    AND year >= 2018
    ORDER BY RANDOM()
    LIMIT 150
    """
    houldout_articles = houldout_articles.append(pd.read_sql(q, con=engine))

In [13]:
# Check the holdout set
display(houldout_articles.shape)
display(houldout_articles.groupby("category").count().reset_index().sort_values("index", ascending=False))

(3150, 2)

                     category  index
0      arts and entertainment    150
11    markets and investments    150
19                     wealth    150
18                         us    150
17  travel and transportation    150
16                     sports    150
15     science and technology    150
14                real estate    150
13                   politics    150
12           personal finance    150
10                       life    150
1                 automobiles    150
9            legal and crimes    150
8         health and wellness    150
7           global healthcare    150
6                        food    150
5       finance and economics    150
4                      energy    150
3     climate and environment    150
2                    business    150
20                      world    150

In [14]:
# Finally, update the database for those articles
for index in houldout_articles["index"]:
    
    q = f"""
    UPDATE public."AllTheNews21"
    SET is_holdout = true
    WHERE index = '{index}'
    """
    
    engine.execute(q)

Let's verify our remaning **training set**

In [15]:
# Count per category
q = """
SELECT category, COUNT(*)
FROM public."AllTheNews21"
WHERE is_good_article = true
AND is_holdout = false
AND category is not null
AND year >= 2018
GROUP BY category
order by count desc
"""
pd.read_sql(q, con=engine)

                     category   count
0                    business  105128
1                       world   96815
2      arts and entertainment   69398
3                    politics   57465
4     markets and investments   45280
5      science and technology   44476
6                      sports   40681
7       finance and economics   40446
8                          us   36224
9                        life   35125
10        health and wellness   19876
11           legal and crimes   13677
12    climate and environment    8443
13          global healthcare    6625
14                       food    6135
15                     energy    5375
16  travel and transportation    4482
17                real estate    4112
18           personal finance    3146
19                automobiles    2204
20                     wealth    1790

In [16]:
# Grand-total count
q = """
SELECT COUNT(*)
FROM public."AllTheNews21"
WHERE is_good_article = true
AND is_holdout = false
AND category is not null
AND year >= 2018
"""
pd.read_sql(q, con=engine)

    count
0  646903

And also our **holdout set**

In [17]:
# Count by category
q = """
SELECT category, COUNT(*)
FROM public."AllTheNews21"
WHERE is_good_article = true
AND is_holdout = true
AND category is not null
AND year >= 2018
GROUP BY category
order by count desc
"""
pd.read_sql(q, con=engine)

                     category  count
0      arts and entertainment    150
1                 automobiles    150
2                    business    150
3     climate and environment    150
4                      energy    150
5       finance and economics    150
6                        food    150
7           global healthcare    150
8         health and wellness    150
9            legal and crimes    150
10                       life    150
11    markets and investments    150
12           personal finance    150
13                   politics    150
14                real estate    150
15     science and technology    150
16                     sports    150
17  travel and transportation    150
18                         us    150
19                     wealth    150
20                      world    150

In [18]:
# Grand-total count
q = """
SELECT COUNT(*)
FROM public."AllTheNews21"
WHERE is_good_article = true
AND is_holdout = true
AND category is not null
AND year >= 2018
"""
pd.read_sql(q, con=engine)

   count
0   3150